//My custom styling

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: darken(#5da423, 10%),
    // Sets the panel padding amount. Default: $panel-padding
    $padding:10px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  border-radius: 5px;
  text-align:center;
  font-size: em-calc(40);
  a {
	color: #fff;
	
  }
  a:hover {
	color: darken(#fff, 15%);
	}
}


.custom-panel-1 {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#adc972,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:15px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  ); 
  height: em-calc(400);
}

.custom-panel-11 {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#adc972,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:15px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  ); 
}

.custom-panel-two {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:$primary-color,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  border-radius: 5px;
  text-align:left;
  color: #fff;
  a {
  color: #fff;
  
  }
  a:hover {
  color: darken(#fff, 30%);
  }
  table tr {
  bgcolor: #5da423;
  }
}

.custom-panel-3 {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#f2e9ca,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  ); 
}

.custom-panel-4 {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:darken(#5da423, 10%),
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  ); 
}

.custom-button-class {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $padding: rem-calc(8),
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    $bg: #004a0f,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    $radius:false,
    // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width:false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    $disabled:false
  );
   border-radius: 5px;
   font-size: em-calc(30);
   margin-top: em-calc(20);
   height: em-calc(100);
   width: em-calc(140);
}

.custom-button-class2 {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $padding: rem-calc(8),
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    $bg: darken(#5da423, 10%),
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    $radius:false,
    // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width:false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    $disabled:false
  );
   border-radius: 25px;
   background-color: darken(#5da423, 10%);
   font-size: em-calc(12);
   margin-top: em-calc(20);
}

.monthly-tips {
  @include sub-nav(
    // Control the color of the divider between links.
    $font-color: #ffffff,
    // Control your font-size per label.
    $font-size: rem-calc(18),
    // Change the background color for your labels
    $active-bg: lighten(#5da423, 10%)
  );
}

